body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    margin: 40px;
}

.orange-color {
    color: chartreuse;
}

section {
    display: flex;
    margin-bottom: 40px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    padding: 10%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}