body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: chartreuse;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
    padding: 10%;
}